click==6.7
docutils==0.14
Flask==0.12.2
futures==3.2.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
python-dateutil==2.6.1
six==1.11.0
urllib3==1.22
Wand==0.4.4
Werkzeug==0.14.1
